@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    padding: 0;
    margin: 0;
    font-family: roboto;
    font-style: initial;
}

nav{
    background-image: url("./gg.jpg");
    background-repeat: repeat-x;
    margin: 0px;
    padding-right: 0px;
    width: 100%;
    height: 70px;
    position: fixed;
}
nav a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.8s;
    font-size: 17px;
    
    
}
nav a{
    display: inline;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 2s;
    font-size: 17px;

    
   
}
#pot{
    padding: 20px;
    margin: auto;
    font-size: 30px;
    color: black;
    

}
.na{
    padding-left: 50px;
    float: right;
    padding-right: 60px;
    padding-top: 10px;
    font-size: 20px;
    
}
nav a:hover {
    color: rgb(242, 255, 0);
}
.rounded p{
    border: 10px solid rgb(255, 128, 0);
    margin: 20px;
    font-size: 15px;
  }

  .rounded {
    border-radius: 15px;
  }
#ig{
    
  
    align-items: center;
    padding-left: 600px;

  }
.rounded{
    display: flex;
     font-size: 10px;
}
.mere{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container .box
{
    position: relative;
    width: 350px;
    padding: 40px;
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
    border-radius: 18px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
}
.container .box .icon{
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: rgb(255, 119, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}
.container .box:nth-child(2) .icon{
    box-shadow: 0 0 0 0 #ff0000;
    background: #ff8c00;
    
}
 .container .box:nth-child(1):hover .icon{
    box-shadow: 0 0 0 400px #ff0000;
   

 }
 .container .box:nth-child(2):hover .icon{
    box-shadow: 0 0 0 400px #f32121;   
 }
.container .box .content{
    position: relative;
    z-index: 1;
    transition: 0.5s;

 }
.container .box:hover .content{
    color: rgb(255, 255, 255);

 }
.container .box .content h3{
    font-size: 20px;
    margin: 10px 0;
    padding: 0;

 }
 .container .box .content p{
    margin: 0;
    padding: 0;
 }
.container a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.hero{
    width: 100%;
    height: 100hv;
    background-color: #f32121;
    background-position: center;
    background-size: cover;
    position: relative;
    
   
}
.title{
    width: 60%;
    display: inline-block;
    margin: 150px auto 0;
    color: rgb(0, 0, 0);
    text-align: center;
}
.title h1{
    margin-bottom: 300px;
    text-align: center;
    padding-left: 600px;

}
.title p{
    font-size: 13px;
    line-height:2px
    

}
.row{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: row;
    
}
.col{
    flex-basis: 22%;
    text-align: center;
    color: rgb(67, 0, 0);
   

}
.counter-box{
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 20px -5px #ff8c00;
}




